.contentListItem::before {
  content: "• ";
  font-size: 32px;
  color: green;
}

.contentListItem {
  /* display: flex;
  align-items: center; */
  list-style-type: none;
  margin: 0.5em;
}

/* .contentListItem:nth-child(1)::before {
  content: "";
} */

/* .contentListItem:nth-child(1) {
  padding: 1em;
} */


.bold {
  font-weight: bold;
}
