.contentListItem::before {
  content: "• ";
  color: green;
}

.contentListItem {
  list-style-type: none;
  margin: 1em;
}

.contentListItem:nth-child(1)::before {
  content: "";
}

/* .contentListItem:nth-child(1) {
  padding: 1em;
} */


.bold {
  font-weight: bold;
}
