.navbarListElement,
.navbarListElement:visited {
  color: #000;
  text-decoration: none;
}

.navbarListElement:focus,
.navbarListElement:hover {
  color: #888;
  cursor: pointer;
}

.navbarCallUs:focus,
.navbarCallUs:hover {
  color: #fff;
  background: #078527bd;
  cursor: pointer;
}

.navbarCallUs {
  padding: 0.666em 1.125em;
  /* height: 48px;
  width: 181px; */
  border-radius: 8px;
  color: #fff;
  background-color: #078526;
  font-weight: 700;
  text-decoration: none;
}
