section.contactContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  font-size: 1.2rem;
  text-align: center;
}

p.contactParagraph {
  margin: 3rem;
}

.contactNumber {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 17%;
  font-size: 1.2rem;
  margin: 0 3rem 3rem 0;
}

.phoneNumber {
  font-size: 1.5rem;
  color: #000;
  cursor: pointer;
  text-decoration: underline;
  font-style: underline;
}

.phoneNumber:hover {
  color: #666;
}
