.headerCont {
  max-width: 100%;
  height: calc(100vh - 64px);
  background-image: url(../../images/image.webp);
  background-size: cover;
  /* -webkit-filter: brightness(0.7);
  filter: brightness(0.7); */
}

.heroSectionText {
  position: relative;
  font-size: 5.5vw;
  top: 12vw;
  /* padding: 10px; */
  text-align: center;
  color: white;
  font-weight: 900;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35))
  drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));
  animation-name: slidein;
  animation-duration: 2.5s;
}
