footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #45484d;
  color: #e6ebf2;
}

.footerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 64.5%;
}

.footerLogo {
  align-self: flex-start;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 3rem 0 0;
}

p.footerParagraph {
  padding: 3rem 0;
}

span {
  margin-left: 0.5em;
}

.copyright {
  padding: 2rem 0 3rem;
}