ul.footerList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1rem;
}

li.footerList {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33.3%;
  list-style: none;
}

ul {
  width: 100%;
}