ul.footerList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1em 0 3em;
}

li.footerList {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.nowrap {
  white-space: nowrap;
}

.anchorClass {
  color: #fff;
  text-decoration: none;
}

.anchorClass:active, .anchorClass:hover {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 1024px) {
  ul.footerList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  /* text-align: center; */
  
  li.footerList {
    margin: 1em 0;
  }
}
